.text-input {
  border: 1px solid $gray;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  outline: none;
  color: $rose;
}

::-webkit-input-placeholder {
  color: $rose;
}
.select {
  @extend .text-input;
}
.select option {
  font-weight: 300;
  outline: none;
  color: $rose;
}

.textarea {
  @extend .text-input;
}

.ui-datepicker-week-end > .ui-state-default {
  color: $rose;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
