.page-header {
  background-color: $gray;
  margin-bottom: $l-size;
  padding: $l-size 0;
  border: 1px solid darken($gray, 7%);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-all;
}

.page-header__title {
  white-space: normal;
  font-weight: 300;
  margin: 0;
  span {
    font-weight: 700;
  }
}
.page-header__actions {
  margin-top: $l-size;
}

.page-header__button {
  align-self: flex-end;
  background-color: $blue;
  color: $gray;
  height: 4.5rem;
  border: none;
  display: inline-block;
  border-radius: 0.3rem;
  font-weight: 400;
  text-decoration: none;
}
